<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="com.iknow.stud.web.jwdw" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <root level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </root>
    </Loggers>
</configuration>